## -*- coding: utf-8 -*-

<%inherit file="/module_base.html" />

<%def name="content()">

<%def name="drawTableRow(list)">
                    
         	% for detail in list: 
         	     <% isItem = False %>	
   			     %for item in dataset['ok_status']:    
   			        %if item in detail['scratchdiskToScratchdisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status']:			    
    					%if item in detail['scratchdiskToScratchdisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['scratchdiskToScratchdisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif
				    		
				
				<% isItem = False %>	
   			     %for item in dataset['ok_status']:    
   			        %if item in detail['scratchdiskToLocalgroupdisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status']:			    
    					%if item in detail['scratchdiskToLocalgroupdisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['scratchdiskToLocalgroupdisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif
				  
					
				 <% isItem = False %>	
   			     %for item in dataset['ok_status_prod_data']:    
   			        %if item in detail['scratchdiskToProddisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status_prod_data']:			    
    					%if item in detail['scratchdiskToProddisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['scratchdiskToProddisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif
				  
				  
				 <% isItem = False %>	
   			     %for item in dataset['ok_status_prod_data']:    
   			        %if item in detail['scratchdiskToDatadisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status_prod_data']:			    
    					%if item in detail['scratchdiskToDatadisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['scratchdiskToDatadisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif			 	     
			    						 		
		   % endfor
		</%def>
		
		
<%def name = "drawTableRow2(list)">

           % for detail in list: 
         	     <% isItem = False %>	
   			     %for item in dataset['ok_status']:    
   			        %if item in detail['localgroupdiskToScratchdisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status']:			    
    					%if item in detail['localgroupdiskToScratchdisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['localgroupdiskToScratchdisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif
				    		
				
				<% isItem = False %>	
   			     %for item in dataset['ok_status']:    
   			        %if item in detail['localgroupdiskToLocalgroupdisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status']:			    
    					%if item in detail['localgroupdiskToLocalgroupdisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['localgroupdiskToLocalgroupdisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif
				  
					
				 <% isItem = False %>	
   			     %for item in dataset['ok_status_prod_data']:    
   			        %if item in detail['localgroupdiskToProddisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status_prod_data']:			    
    					%if item in detail['localgroupdiskToProddisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['localgroupdiskToProddisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif
				  
				  
				 <% isItem = False %>	
   			     %for item in dataset['ok_status_prod_data']:    
   			        %if item in detail['localgroupdiskToDatadisk']:		
    				 	<% isItem = True %>					   
					 % endif  					  
				  % endfor	
				  			 
				  % if isItem:
				     <td bgcolor = "#4FD516"></td>
				  
				  % else:
				      <% isItem_err = False %>
				      %for item in dataset['error_status_prod_data']:			    
    					%if item in detail['localgroupdiskToDatadisk']:	
    				   	<% isItem_err = True %>					  
				 		% endif
				 		 % endfor				  
				 		 % if isItem_err:
				            <td bgcolor = "#FF6464">
				    	      <input type = "image" style="background-color: transparent; border: none !important;" src = "/static/images/tooltip.png" title = "${detail['localgroupdiskToDatadisk']}" />
				            </td>
				 		 % else: 
				             <td bgcolor = "#F7D358">CHKA 2 texum el</td>
				 		 % endif  				  			  			  
				  % endif			 	     
			    						 		
		   % endfor
</%def>


<script type="text/javascript">

String.prototype.replaceAll = function(target, replacement) {
	  return this.split(target).join(replacement);
	};
	
function showErrorList() {	
	
	var table = document.getElementById("SpaceToken");
	while(table.hasChildNodes())
    {
       table.removeChild(table.firstChild);
    }
	
	var errorMsg = document.getElementById("error_space_token").options[document.getElementById("error_space_token").selectedIndex].value

	if (errorMsg !== "--Select--" ){
		if (errorMsg === "${dataset['site1_space_token_scratchdisk']}" ){				
			% for detail in show_err1:
				var newTR = document.createElement("tr");
				var newTD = document.createElement("td");
				var msg = "${detail}".replaceAll("(u'", '');
				msg_fn = msg.replaceAll("',)", '');
				var newText = document.createTextNode(msg_fn);				
				newTD.appendChild(newText);
				newTR.appendChild(newTD);
				table.appendChild(newTR);
			% endfor
		}
		else if (errorMsg === "${dataset['site1_space_token_localgroupdisk']}" ){				
			% for detail in show_err2:
				var newTR = document.createElement("tr");
				var newTD = document.createElement("td");
				var msg = "${detail}".replaceAll("(u'", '');
				msg_fn = msg.replaceAll("',)", '');
				var newText = document.createTextNode(msg_fn);				
				newTD.appendChild(newText);
				newTR.appendChild(newTD);
				table.appendChild(newTR);
			% endfor
		}		
		else if (errorMsg === "${dataset['site1_space_token_proddisk']}" ){				
			% for detail in show_err3:
				var newTR = document.createElement("tr");
				var newTD = document.createElement("td");
				var msg = "${detail}".replaceAll("(u'", '');
				msg_fn = msg.replaceAll("',)", '');
				var newText = document.createTextNode(msg_fn);				
				newTD.appendChild(newText);
				newTR.appendChild(newTD);
				table.appendChild(newTR);
			% endfor
		}	
		else if (errorMsg === "${dataset['site1_space_token_datadisk']}" ){				
			% for detail in show_err4:
				var newTR = document.createElement("tr");
				var newTD = document.createElement("td");
				var msg = "${detail}".replaceAll("(u'", '');
				msg_fn = msg.replaceAll("',)", '');
				var newText = document.createTextNode(msg_fn);				
				newTD.appendChild(newText);
				newTR.appendChild(newTD);
				table.appendChild(newTR);
			% endfor
		}		
	}
	/*
	if (errorMsg !== "--Select--"){
		
		errorMsg = errorMsg.replace(/[^A-Za-z\d_()-]+/g, ' ');
		errorMsg_ = errorMsg.replaceAll('(u', ' ');
		errorMsg_final = errorMsg_.replaceAll(')', '</br>');
	
		var temp = new Array();
		temp = errorMsg_final.split('</br>');
		
		for (var a  in temp){
    		if (temp[a].trim()) { 
    			var newTR = document.createElement("tr");
    			var newTD = document.createElement("td");
    			var newText = document.createTextNode(temp[a]);
    			newTD.appendChild(newText);
    			newTR.appendChild(newTD);
    			table.appendChild(newTR);
    		}
    	}
 	}
	*/
}

</script>

<div style="width: 50%; float:left;">
	% for detail in site_transfers_plot: 	
	<img src="${detail['efficiency_plot']}" alt="" />
	% endfor
</div>

<div style="width: 50%; float:right;">
<p> Show errors in GoeGrid space token staring from ${dataset['plot_start_date']}</p>
<select id ="error_space_token" onchange="showErrorList()">
  <option value="--Select--">--Select--</option>
  <option value="${dataset['site1_space_token_scratchdisk']}" > ${dataset['site1_space_token_scratchdisk']} </option>
  <option value="${dataset['site1_space_token_localgroupdisk']}" > ${dataset['site1_space_token_localgroupdisk']} </option>
  <option value="${dataset['site1_space_token_proddisk']}" >${dataset['site1_space_token_proddisk']}</option>
  <option value="${dataset['site1_space_token_datadisk']}" >${dataset['site1_space_token_datadisk']}</option>
</select>
</br></br>
  <table class="TableData"  style="width: 120%;" id="SpaceToken">
  </table>

</div>


</br>
</br>
</br>

<h3 style="width: 100%; float:left;" >${dataset['site1Name']} transfers with SRM </h3>

</br>
</br>

<div class="scrollable-table" style="width: 100%; float:left;">
  <table class="table table-striped table-header-rotated">
		<thread>
		<tr>	
		    <th> &nbsp;</th>
	    
        	<th class="rotate-45" style="font-weight:bold"><div><span>${dataset['site1_space_token_scratchdisk']}</span></div></th>
						
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site1_space_token_localgroupdisk']}</span></div></th>
				
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site1_space_token_proddisk']}</span></div> </th>
			
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site1_space_token_datadisk']}</span></div> </th>				     	
     	</tr>
				
		</thread>
		
		<tbody>
		<tr>
          <th class="row-header" bgcolor="#D1D0D0" style="font-weight:bold">${dataset['site1_space_token_scratchdisk']}</th>
		${drawTableRow(site1_site1_transfers)}
				
		</tr>
		<tr>
	    <th class="row-header" bgcolor="#D1D0D0" style="font-weight:bold"> ${dataset['site1_space_token_localgroupdisk']}</td>
		${drawTableRow2(site1_site1_transfers)}
		
		</tr>
						
		</tbody>
</table>
</br>
</br>
<h3>${dataset['site2Name1']} transfers with SRM</h3>
</br>
</br>


<div class="scrollable-table">
  <table class="table table-striped table-header-rotated">
		<thread>
		<tr>	
		    <th> &nbsp;</th>
	    
        	<th class="rotate-45" style="font-weight:bold"><div><span>${dataset['site2_space_token_scratchdisk']}</span></div></th>
						
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site2_space_token_localgroupdisk']}</span></div></th>
				
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site2_space_token_proddisk']}</span></div> </th>
			
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site2_space_token_datadisk']}</span></div> </th>				     	
     	</tr>
				
		</thread>
		
		<tbody>
		<tr>
          <th class="row-header" bgcolor="#D1D0D0" style="font-weight:bold">${dataset['site1_space_token_scratchdisk']}</th>
		${drawTableRow(site1_site2_transfers)}
				
		</tr>
		<tr>
	    <th class="row-header" bgcolor="#D1D0D0" style="font-weight:bold"> ${dataset['site1_space_token_localgroupdisk']}</td>
		${drawTableRow2(site1_site2_transfers)}
		
		</tr>
						
		</tbody>
</table>

</br>
</br>
<h3>${dataset['site2Name2']} transfers with SRM</h3>
</br>
</br>

<div class="scrollable-table">
  <table class="table table-striped table-header-rotated">
		<thread>
		<tr>	
		    <th> &nbsp;</th>
	    
        	<th class="rotate-45" style="font-weight:bold"><div><span>${dataset['site1_space_token_scratchdisk']}</span></div></th>
						
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site1_space_token_localgroupdisk']}</span></div></th>
				
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site1_space_token_proddisk']}</span></div> </th>
			
			<th class="rotate-45" style="font-weight:bold"><div><span> ${dataset['site1_space_token_datadisk']}</span></div> </th>				     	
     	</tr>
				
		</thread>
		
		<tbody>
		<tr>
          <th class="row-header" bgcolor="#D1D0D0" style="font-weight:bold">${dataset['site2_space_token_scratchdisk']}</th>
		${drawTableRow(site2_site1_transfers)}
				
		</tr>
		<tr>
	    <th class="row-header" bgcolor="#D1D0D0" style="font-weight:bold"> ${dataset['site2_space_token_localgroupdisk']}</td>
		${drawTableRow2(site2_site1_transfers)}
		
		</tr>
						
		</tbody>
</table>

</div>

</div>



</%def>
