[ddm_datasets_viewer]
module = DdmDatasetsViewer
name = Atlas DDM Datasets Viewer
description =
instruction = 
type = rated
weight = 1.0


# Parameters
datasets_range_start = 1
datasets_range_end = 50 
dataset_size = 50

space_token = GOEGRID_LOCALGROUPDISK
limit_table_size = 50

