[ganga_robot_job]
module = GangaRobotJobViewer
name = Ganga Robot Job Status
description = 
instruction = 
type = rated
weight = 1.0


# Parameters
job_template_file = "hf/gridtoolkit/ganga_job_template.py"
ganga_job_executable = "/bin/echo"
ganga_input_sandbox = ""
ganga_number_of_subjobs = 1
ganga_grid_backend = "CREAM"
ganga_ce_endpoint = "cream-ge-2-kit.gridka.de:8443/cream-sge-sl6"
ganga_lcg_site = "FZK"

